

.type
{
	color: #8f5bff;
}

.keyword
{
	color: #0081f2;
}

.function
{
	color: #ffc641;
}

.code_block
{
	background-color: #0c0c0c; 
	padding: 30px;
	margin-top: 20px; 
	margin-bottom: 20px;
	width:max-content; 
	font-family: monospace;
	color: #a9e0ff;
	border-color: rgb(116, 116, 116);
	border-style: solid;
	border-width: 2px;
}

.string
{
	color: #ff8000;
}

.comment
{
	color: #565656;
}